p.info{
	display: inline-block;
}

table {
	margin: auto;
	border: 2px solid read;
}

table td {
	height: 5px;
	width: 5px;
}

.live-green {
	background-color: #c3ea56;
}

.live-blue {
	background-color: #464ace;
}

.dead {
	background-color: #423c3c;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

textarea {
   resize: none;
}
.btn-group-horizontal{
	margin-left: 40%;
	margin-bottom: 20px;
}

.footer{
	margin-top: 20px;
}

.details {
	margin-left: 105px;
	margin-top: 50px;
}