p.info {
	display: inline-block;
}

table {
	margin-left: 30%;
	margin-top: 20px;
	border : 2px solid #920707;
	box-shadow: 16px -5px 5px #9c9393;
	border: 2px solid #920707;
}

table td {
	height: 5px;
	width: 5px;
}

.live-green {
	background-color: #c3ea56;
}

.live-blue {
	background-color: #464ace;
}

.dead {
	background-color: #423c3c;
}


.footer {
	margin-top: 20px;
}

.details {
	margin-top: 50px;
}

.description {
	margin-left: -25px;
}

div {
	margin-top: 10px;
	margin-bottom: 10px;
}